{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ЛР Гончар</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="post-graph">

        {% if graph %}

            <div class="graph">
                <img src="{% static 'img/graph.png' %}">        
            </div>

            <div class="points">
            
                <form method="post" class="next-step">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Найти точку">
                </form>
                
                <span class="top-points">Найденные точки:</span>

                {% for point in points %}
                    {{ point }} <br>
                {% endfor %}

            </div>

        {% else %}
 
            <form class="form" method="post">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}

                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <input type="text" name="{{ field.html_name }}" class="form-control" required>
                </div>
                {% endfor %}

                <input type="submit" class="btn btn-secondary center" value="Построить аппроксимацию">
            </form>

        {% endif %}

    </div>

</body>
</html>